<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<h1 class="main"><%= @user.username %>'s Journal</h1>

<h2>Owned games:</h2>

<br></br>

<div class="lists">
  <ul class="inner_lists">
  <% @user.owned_games.each do |game| %>
    <h3><b><%= game.title %></b></h3>
      <ul>
        <li><b>Owned on:</b> <%= game.platform.name %></li>
        <li><b>Genre:</b> <%= game.genre.name %></li>
        <li><b>Notes:</b>
        <% if game.has_notes? %>
          <li><%= game.notes %></li>
        <% else %>
          <li>No notes :(</li>
        <% end %>
      </ul>
    <% if @current_user == @user %>
      <form class="buttons" method="GET" action="/games/<%= game.slug %>/edit">
        <input type="submit" value="Edit Game">
      </form>
      <form class="buttons" method="POST" action="/games/<%= game.slug %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Remove Game from Journal">
      </form>
    <% end %>
  <% end %>
  </ul>
</div>
