<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<h1 class="main">Entries for <%= @archived_game.title %></h1>

<br></br>

<div class="lists">
  <% @users.each do |user| %>
    <% users_game = user.owned_games.select{|o_g| o_g.title == @archived_game.title}.first %>
    <% if !users_game.nil? %>
      <h2><%= user.username %></h2>
      <ul>
        <div class="details">
          <h3 class="inner_details"><b>On:</b></h3>
          <li class="inner_details"><%= users_game.platform.name %></li>
        </div>
        <div class="details">
          <h3 class="inner_details"><b>Notes:</b></h3>
          <% if users_game.notes == "" %>
            <li class="inner_details">No notes :(</li>
          <% else %>
            <li class="inner_details"><%= users_game.notes %></li>
          <% end %>
        </div>
      </ul>
    <% end %>
  <% end %>
</div>
