<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<h1 class="main">Entries for <%= @archived_game.title %></h1>

<br></br>

<div class="lists">
  <% @users.each do |user| %>
    <% users_game = user.owned_games.select{|o_g| o_g.title == @archived_game.title}.first %>
    <% if !users_game.nil? %>
      <h2><%= user.username %></h2>
      <ul>
        <h3><b>On:</b></h3>
        <li><%= users_game.platform.name %></li>
        
        <h3><b>Notes:</b></h3>
        <% if users_game.notes == "" %>
          <li>No notes :(</li>
        <% else %>
          <li><%= users_game.notes %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
